@CHARSET "UTF-8";
/* Rev Associate CSS */

body
{
	background-color:#F8F8F8;
	height:100%;
	width:100%;
}

.Inline
{
	display:inline-block!important;
}

.UserTextBox
{
	padding:0;
}

#RevatureLogo
{
	padding:0;
	margin:10px;
	vertical-align:top;
}

#AlertBar
{
	margin-left:12%;
}

#AlertBar > h1, #AlertBar > h3
{
	margin:0.1em;
	padding:0;
	line-height:100%;
}

#UserInfo
{
	position:absolute!important;
	right:0;
	margin:0.5em;
	width:15%;
}

#navigationBar {
    border-bottom: solid black;
	font-weight: bold;
	width: 100%;
	position: absolute;
	padding: 15px;
}

#navigationBar > a {
	margin: 15px;
	padding: 10px;
	
}

#navigationBar > .navSelected {
	background-color: #f16927;
	color: white;
	padding: 10px;
	text-decoration: none;
}


#navigationBar > a:hover {
	background-color: #f16927;
	color: white;
	padding: 10px;
	text-decoration: none;
}
